<div class="jumbotron">
    {{ title }} - {{ fechaActual | date("m/d/Y") }}
</div>
<div class="container">
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_label(form.nombre, null, {'label_attr': {'class': 'text-danger'}}) }}
    {{ form_widget(form.nombre) }}
    {{ form_row(form.telefono) }}
    {{ form_row(form.direccion) }}
    {{ form_row(form.edad) }}
    {{ form_row(form.fileImagen) }}
    {{ form_row(form.categoria) }}
    {{ form_errors(form) }}
    {{ form_end(form) }}
</div>
