{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} - Contactos
{% endblock %}

{% block content %}

    <form method="post" action="{{ path('app_contactos_buscar') }}">
        <input type="text" name="busqueda" placeholcer="Buscar">
        <input type="submit" name="buscar" value="buscar">
    </form>
    {% include
        'partials/form-contacto-part.html.twig'
        with {title : 'Contactos' }
    %}

    <div class="container">
        <table>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Dirección</th>
                <th>Categoría</th>
                <th>Imagen</th>
                <th>Operaciones</th>
            </tr>
            {% for contacto in contactos %}
                <tr>
                    <td>{{ contacto.id }}</td>
                    <td>{{ contacto.nombre }}</td>
                    <td>{{ contacto.telefono }}</td>
                    <td>{{ contacto.direccion }}</td>
                    <td>{{ contacto.categoria.nombre }}</td>
                    <td><img width="50" src="{{ asset('imgs/' ~ contacto.imagen) }}" alt=""></td>
                    <td>
                        <a href="{{ path('app_contactos_delete', {id: contacto.id}) }}">Eliminar</a>
                        <a href="{{ path('app_contactos_update', {id: contacto.id}) }}">Editar</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <p>Núm contactos: {{ contactos | length }}</p>
    </div>
{% endblock %}