{% extends "base.html.twig" %}

{% block body %}
    <nav>
        <ul>
            <li>
                <a href="{{ path('app_lucky_number') }}">Lucky number</a>
            </li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li>
                    <a href="{{ path('app_contactos') }}">Contactos</a>
                </li>
                <li>
                    <a href="{{ path('logout') }}">{{ app.user.username }} - Salir</a>
                </li>
            {% else %}
                <li>
                    <a href="{{ path('login') }}">Login</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}{% endblock %}
{% endblock %}

{% block javascripts %}
{% endblock %}
