{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} - ERROR 404
{% endblock %}

{% block content %}

    <div class="jumbotron">
        Error 404 - Página no encontrada
    </div>

{% endblock %}